---
import HeroImage from "@assets/home-page-hero.png";
---

<section>
  <div class="hero h-96" style={`background-image: url('${HeroImage.src}');`}>
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content max-w-4xl w-full mt-auto">
      <div class="grow">
        <h1 class="mb-5 text-5xl font-bold">My Bull 💩 Blog</h1>
        <p class="mb-5 font-body">
          This is a blog where I dump my brain farts. The more ridiculous, the
          better.
        </p>
      </div>
    </div>
  </div>
</section>
