---
import { getImage } from "astro:assets";
import InstagramLogo from "@components/ui/icons/instagram-line.svg";
import LinkedInLogo from "@components/ui/icons/linkedin-line.svg";
import GithubLogo from "@components/ui/icons/github-line.svg";
import RobotLineIcon from "@components/ui/icons/robot-3-line.svg";
import Image from "@assets/footer-background.webp";

const backgroundImage = await getImage({ src: Image, quality: 80 });
---

<footer
  class="footer bg-neutral text-neutral-content items-center p-4"
  style={`background-image: url('${backgroundImage.src}');`}
>
  <aside class="grid-flow-col items-center">
    <RobotLineIcon size={46} />
    <p>Copyright © {new Date().getFullYear()} - All right reserved</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a
      class="link hover:text-primary"
      href="https://www.instagram.com/talouchy_art"
      target="_blank"
      aria-label="Visit my Instagram page"
    >
      <InstagramLogo size={30} />
    </a>
    <a
      class="link hover:text-primary"
      href="https://www.linkedin.com/in/danyallakzian/"
      target="_blank"
      aria-label="Visit my LinkedIn profile"
    >
      <LinkedInLogo size={30} />
    </a>
    <a
      class="link hover:text-primary"
      href="https://github.com/setTimeoutInfinity"
      target="_blank"
      aria-label="Visit my GitHub profile"
    >
      <GithubLogo size={30} />
    </a>
  </nav>
</footer>
