---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import isNil from "lodash/isNil";
import isEmpty from "lodash/isEmpty";
import DefaultHeroImage from "@assets/footer-background.webp";

interface Props {
  image?: ImageMetadata;
  heading?: string;
  subHeading?: string;
}

const { image, heading, subHeading } = Astro.props;
---

<section>
  <div class="hero md:h-96 h-52">
    <Image
      src={image ?? DefaultHeroImage}
      densities={[1.5, 2]}
      width={(isNil(image) ? DefaultHeroImage.width : image.width) / 2}
      alt="page hero"
      loading="eager"
      class="col-span-full object-cover object-center md:h-96 h-52 w-full"
    />
    <div class="hero-overlay"></div>
    <div
      class="hero-content text-neutral-content max-w-4xl w-full mt-auto col-span-full"
    >
      {
        !isNil(heading) && !isEmpty(heading) && (
          <div class="grow">
            <h1 class="mb-5 md:text-5xl text-3xl font-medium">{heading}</h1>
            <p class="mb-5 font-body md:text-base text-sm">{subHeading}</p>
          </div>
        )
      }
    </div>
  </div>
</section>
